*~
*.swp
gbl2ngc
gbl2ngc_bugtrack*
tmp
tmp/*
test
test/*
test_gerber_interpreter
gerber_interpreter.o
*.ngc
src/gbl2ngc
src/*.ngc
src/test_gerber_interpreter
src/gbl2ngc
src/gbl2ngc_debug
scratch
*.o
